{% extends "layout.html" %} {% block body %}
<div class="container">
    <h1>Use</h1>
    <div class="row text-justify">
        <div class="col-lg-12 col-xs-12">
            <h4>Rules</h4>
            <ul>
                <li>
                    If the papers to be loaded are to be taken as photographs, they should be in a bright environment and with white light. It should be taken underneath. The use of a browser is recommended for a higher success rate.
                </li>
                <li>
                    Within the frame of the photo, only the file you downloaded Must be.
                </li>
                <li>
                    Due to contamination or incorrect lighting in photos You are responsible for any incorrect results that may occur.
                </li>
            </ul>
        </div>
    </div>
    <div class="row text-justify">
        <div class="col-lg-6 col-xs-12">
            <h4>Sample Answer Sheet</h4>
            <img
                class="img-fluid q-photo"
                src="/static/images/example.jpg"
                alt="Örnek Cevap Kağıdı"
            />
            
        </div>
    </div>
    <br>
    <h4>Blank Answer Sheets</h4>
    <div class="row justify-content-center text-justify">
        <div class="col-lg-4 col-xs-12">
            <p>
                Click on the photo you want and download it It will start.
            </p>
            <button
                type="button"
                class="btn btn-gray q-button"
                onclick="changeImage('/static/images/emptysheets/5question.jpg');"
            >
                5 Questions
            </button>
            <br />
            <button
                type="button"
                class="btn btn-gray q-button"
                onclick="changeImage('/static/images/emptysheets/10question.jpg');"
            >
                10 Questions
            </button>
            <br />
            <button
                type="button"
                class="btn btn-gray q-button"
                onclick="changeImage('/static/images/emptysheets/15question.jpg');"
            >
                15 Questions
            </button>
            <br />
            <button
                type="button"
                class="btn btn-gray q-button"
                onclick="changeImage('/static/images/emptysheets/20question.jpg');"
            >
                20 Questions
        </div>
        <div class="col-lg-2 col-xs-12"></div>
        <div class="col-lg-6 col-xs-12 justify-content-center">
            <a id="link" href="/static/images/emptysheets/5question.jpg" download=>
            <img
                class="img-fluid q-photo"
                id="image"
                src="/static/images/emptysheets/5question.jpg"
                alt="Boş Anahtar"
            />
            </a>
        </div>
    </div>
    <br />
</div>
<script>
    function changeImage(newsrc) {
        var img = document.getElementById("image");
        var link = document.getElementById("link");
        img.src = newsrc;
        link.href = newsrc;
        return false;
    }
</script>
{% endblock %}
